@page "/fetchbookdetails"
@using BlazorWebCRUD.Shared.Models
@inject HttpClient Http

<h1>Book Data</h1>
<p>Blazor CRUD operation</p>
<div class="row">
    <div class="col-md-6">
        <a href='/book/add' class="btn btn-primary" role="button">
            <i class="fas fa-user-plus"></i>
            Add Book
        </a>
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search book by title"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterBook" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>
<br />
@if (bookList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-success">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Published Year</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in bookList)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.PublishedYear</td>
                    <td>@book.Description</td>
                    <td>
                        <a href='/book/edit/@book.Id' class="btn btn-outline-dark" role="button">
                            Edit
                        </a>
                        <a href='/book/delete/@book.Id' class="btn btn-outline-danger" role="button">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
@code {
    protected List<Book> bookList = new();
    protected List<Book> searchBookData = new();
    protected Book book = new();
    protected string SearchString { get; set; } = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        await GetBook();
    }
    protected async Task GetBook()
    {
        bookList = await Http.GetFromJsonAsync<List<Book>>("api/Book");
        searchBookData = bookList;
    }
    protected void FilterBook()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            bookList = searchBookData
                .Where(x => x.Title.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToList();
        }
        else
        {
            bookList = searchBookData;
        }
    }
    protected void DeleteConfirm(int Id)
    {
        book = bookList.FirstOrDefault(x => x.Id == Id);
    }
    public void ResetSearch()
    {
        SearchString = string.Empty;
        bookList = searchBookData;
    }
}